.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(243, 237, 237, 0.269);
  overflow-y: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-link {
  color: #61dafb;
}

.login-form {
  border-radius: 5px;
  width: 30%;
  padding: 3%;
  box-shadow: 2px 7px 50px 0px rgba(0,0,0,0.3);
  background-color: white;
}

.login-text-field {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 75%;
}

.login-button {
  width: 75%;
  margin-top: 10px !important;
}

.app-bar {
  position: static;
  background-color: #61dafb !important;
  top: 0;
  left: 0;
}

.wrapper-index-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61dafb;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-icon:hover {
  cursor: pointer;
  color: teal;
}

.products-page {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  box-sizing: border-box;
  padding: 3%;
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(63, 62, 62)
}

.products-table-container {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  padding: 1%;
}

.products-settings {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  padding: 5%;
}

.wrapper-div {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(217, 216, 216);
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.product-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.product-container-h {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.product-id-div {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-column {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  font-size: smaller;
}

.product-column-h {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
}

.odd-column {
  background-color: #72defc3d;
}

.pagination-footer {
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.content-footer-pagination {
  height: 100%;
  margin-top: 5px;
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
}