.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61dafb;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-link {
  color: #61dafb;
}

.login-form {
  border-radius: 5px;
  width: 30%;
  padding: 3%;
  box-shadow: 2px 7px 50px 0px rgba(0,0,0,0.3);
  background-color: white;
}

.login-text-field {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 75%;
}

.login-button {
  width: 75%;
  margin-top: 10px !important;
}
